ul.side-nav(ng-controller='navCtrl')

  li: a(ng-class="{ active:isActive('/article') }", ui-sref="article")
    .fa.fa-file-text-o
    span Articles

  li: a(ng-class="{ active:isActive('/picture') }", ui-sref="picture")
    .fa.fa-picture-o
    span Pictures

  li: a(ng-class="{ active:isActive('/video') }", ui-sref="video")
    .fa.fa-video-camera
    span Videos

  li: a(ng-class="{ active:isActive('/profile') }", ui-sref='profile')
    .fa.fa-user
    span My Profile

  if (req.session.user.isAdmin)

    hr

    li: a(ng-class="{ active:isActive('/user') }", ui-sref='user')
      .fa.fa-users
      span Writers

    li: a(ng-class="{ active:isActive('/ad') }", ui-sref='ad')
      .fa.fa-credit-card
      span Ads

    li: a(ng-class="{ active:isActive('/email') }", ui-sref='email')
      .fa.fa-envelope
      span Mail
      |&nbsp;
      .round.label(ng-if="unreadEmailCounts.kudos > 0") {{ unreadEmailCounts.kudos }}
      |&nbsp;
      .round.alert.label(ng-if="unreadEmailCounts.hatemail > 0") {{ unreadEmailCounts.hatemail }}
      |&nbsp;
      .round.success.label(ng-if="unreadEmailCounts.advertisers > 0") {{ unreadEmailCounts.advertisers }}

  hr

  li: small: a
    .fa.fa-mail-reply
    span back to the site

  li: small: a(href='/logout', target='_self')
    .fa.fa-angellist
    span logout