footer

  span Copyright &copy; 2014 North Texas Pigeon

  span The North Texas Pigeon is in no way affiliated with the University of North Texas

  a(href='/disclaimer') Legal
  | &nbsp;|&nbsp;
  a(href='/contact') Contact

include ../linker/public/scripts
include ../includes/addThis
include ../includes/fbRoot
include ../includes/GA