header

  a(href='/')
    .svg-wrapper
      include _logo.html

  nav.row.centered
    ul.small-11.large-10.small-centered.columns
      li#mobileNavExpand.show-for-small-only: a Menu
      li.show-for-small-only: hr
      li: a.nav-link(href='/category/news') News
      li: a.nav-link(href='/category/columns') Columns
      li: a.nav-link(href='#') Pictures
      li: a.nav-link(href='/video') Videos
      li: a.nav-link(href='#') Tags