// This file is included in the .gitignore file.

// SCRIPTS
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/lodash/dist/lodash.js")
script(src="/bower_components/fastclick/lib/fastclick.js")
// SCRIPTS END