// This file is included in the .gitignore file.

// SCRIPTS
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/lodash/dist/lodash.js")
script(src="/bower_components/fastclick/lib/fastclick.js")
script(src="/public/js/countComments.js")
script(src="/public/js/initFastclick.js")
script(src="/public/js/mobileNav.js")
script(src="/public/js/nav.js")
// SCRIPTS END