// This file is included in the .gitignore file.

// SCRIPTS
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/fastclick/lib/fastclick.js")
script(src="/bower_components/history.js/scripts/bundled/html4+html5/jquery.history.js")
script(src="/public/js/ads.js")
script(src="/public/js/countComments.js")
script(src="/public/js/initFastclick.js")
script(src="/public/js/mobileNav.js")
script(src="/public/js/nav.js")
// SCRIPTS END