if !req.param('noLayout')
  include includes/head.jade

////////////////////////////////

#stage
  .row
    
    .small-12.columns
      h1 Contact us
    
    .medium-4.columns.text-center
      br
      br
      h4.subheader Hatemail?
      a(href='mailto:hate@northtexaspigeon.com' target='_blank') hate@NorthTexasPigeon.com
      br
      small And screw you, too.

    .medium-4.columns.text-center
      br
      br
      h4.subheader Love?
      a(href='mailto:love@northtexaspigeon.com' target='_blank') love@NorthTexasPigeon.com
      br
      small.
        Want to write for the Pigeon? Send us something! If it's
        funny, we'll post it. If it's really funny, you just might
        get a login.

    .medium-4.columns.text-center
      br
      br
      h4.subheader Advertise?
      a(href='mailto:advertiseonthe@northtexaspigeon.com') AdvertiseOnThe@NorthTexasPigeon.com
      br
      small.
        We're always looking for home-grown Denton business that want to
        get their name out and support the Pigeon doing it!

    .medium-12.columns.text-center
      br
      br
      h4.subheader Problems with the site?
      small
        | We're open source! Head over to&nbsp;
        a(href='https://github.com/caseyWebb/northtexaspigeon/issues' target='_blank') the Pigeon's GitHub
        | &nbsp;and file a bug report. Or, if you've got mad haxx0r skillz
        | (or just know a bit of javascript/coffeescript) trying cloning the repo
        | and sending in a pull request.

  br
  br
  br

  .row
    
    .small-12.columns
      strong.
        By sending us an email (that is, to any address ending
        in @NorthTexasPigeon.com), you acknowledge we have the
        right to use its contents without fear of repercussion.
        We will never use your name (unless you tell us we can).


////////////////////////////////

if !req.param('noLayout')
  include includes/footer.jade