// This file is included in the .gitignore file.

// SCRIPTS
script(src="/bower_components/angular/angular.js")
script(src="/bower_components/angular-route/angular-route.js")
script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
script(src="/bower_components/angular-animate/angular-animate.js")
script(src="/bower_components/angularjs-toaster/toaster.js")
script(src="/bower_components/lodash/dist/lodash.js")
script(src="/bower_components/angular-foundation/mm-foundation-tpls.js")
script(src="/admin/js/app.js")
script(src="/admin/js/config/routes.js")
script(src="/admin/js/controllers/navCtrl.js")
script(src="/admin/js/controllers/profileCtrl.js")
script(src="/admin/js/controllers/signupCtrl.js")
script(src="/admin/js/controllers/userCtrl.js")
script(src="/admin/js/directives/inputMatch.js")
// SCRIPTS END