// This file is included in the .gitignore file.

// SCRIPTS
script(src="/admin/js/app.js")
script(src="/admin/js/config/routes.js")
script(src="/admin/js/controllers/articleCtrl.js")
script(src="/admin/js/controllers/navCtrl.js")
script(src="/admin/js/controllers/profileCtrl.js")
script(src="/admin/js/controllers/signupCtrl.js")
script(src="/admin/js/controllers/userCtrl.js")
script(src="/admin/js/controllers/videoCtrl.js")
script(src="/admin/js/directives/inputMatch.js")
script(src="/admin/js/directives/previewArticle.js")
script(src="/admin/js/showdown.js")
// SCRIPTS END