<div class="row container">
  <div class="medium-4 columns scrollable container">

    <ul class="index">

      <li class="thread" ng-repeat="_thread in threads" ng-class="_thread.mailbox">
        <a ng-class="{ active: _thread.id === thread.id }"
           ui-sref=".show({ threadID: _thread.id })">
           {{ _thread.theirName }}
           <small>{{ _thread.theirEmail }}</small>
           <span class="round label" ng-if="_thread.unread">New message(s)!</span>
         </a>
      </li>

    </ul>

  </div>

  <div ui-view class="scrollable container medium-8 columns"></div>
</div>